@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --full-height: 100vh;
}

.profileHeight {
  min-height: calc(var(--full-height) - 56px - 12px - 36px - 54.4px);
}

.feedHeight {
  min-height: calc(var(--full-height) - 56px - 32px);
}

/* For Tap Highlight */
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
}

@layer base {
  body {
    @apply bg-teal-900 text-teal-50 sm:bg-[#136963];
  }
}

@supports (min-height: 100svh) {
  :root {
    --full-height: 100svh;
  }
}
