@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --height-profile: calc(100vh - 56px - 12px - 36px - 54.4px);
}

.profileHeight {
  min-height: var(--height-profile);
}

@layer base {
  body {
    @apply bg-teal-900 text-teal-50;
  }
}

@supports (min-height: 100svh) {
  :root {
    --height-profile: calc(100svh - 56px - 12px - 22px - 54.4px);
  }
}
